<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chesso</title>
  <link href="/static/img/chesspieces/wikipedia/bQ.png" rel="icon" type="image/x-icon" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/styles.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.css"
    integrity="sha384-47VeTDpmy4yT21gKPXQcLQYQZwlmz27gEH5NTrOmTk3G/SGvMyltclOW/Q8uE+sL" crossorigin="anonymous">
</head>

<body>
  <div class="wrapper d-flex flex-column min-vh-100">
    <h1 class="title">Chesso</h1>
    <div class="flex-fill d-flex justify-content-center align-items-center board-section flex-wrap">
      <div id="board" class="chessboard"></div>
      <div class="info-panel d-flex flex-column justify-content-between align-items-center">
        <div class="flex-grow-1 d-flex flex-column justify-content-start align-items-start w-100 px-3 py-2">
          <div id="status" class="mb-2"></div>
          <div id="fen" class="mb-2"></div>
          <div id="pgn-container" class="pgn-box w-100">
            <div id="pgn"></div>
          </div>
        </div>
        <div class="button-row d-flex w-100">
          <button id="flip-button" class="btn btn-outline-light flex-fill">Flip</button>
          <button id="newgame-button" class="btn btn-outline-light flex-fill">New</button>
          <button id="move-button" class="btn btn-outline-light flex-fill">Move</button>
          <select id="depth-select" class="btn depth-select flex-fill">
            <option value="1">D1</option>
            <option value="2">D2</option>
            <option value="3">D3</option>
            <option value="4" selected>D4</option>
            <option value="5">D5</option>
            <option value="6">D6</option>
            <option value="7">D7</option>
            <option value="8">D8</option>
          </select>
        </div>
      </div>
    </div>
    <div class="top-links">
      <a href="https://github.com/macsimbodnar/chesso" class="top-link" id="engine-link" target="_blank"
        rel="noopener noreferrer">Engine Github</a>
      <a href="https://github.com/macsimbodnar/chess_server" class="top-link" id="web-link" target="_blank"
        rel="noopener noreferrer">Server Github</a>
    </div>
  </div>

  <script src="static/js/jquery-3.5.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.js"
    integrity="sha384-/KwQCjA1GWovZNV3QDVtvSMDzO4reGgarF/RqHipr7hIUElH3r5zNl9WEPPOBRIF"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.12.1/chess.js"
    integrity="sha384-8sJV/krC8iV2g7t0PolQxFVckDtxhfM5gNHNAFPG2ZS/bScudOjfsB8ewhG2xle8"
    crossorigin="anonymous"></script>

  <script type="module">


    $(document).ready(function () {

      let selectedSquare = null;

      const game = new Chess()

      const boardConfig = {
        draggable: true,
        position: game.fen(),
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: onSnapEnd
      }

      const board = Chessboard2('board', boardConfig)

      const statusEl = byId('status')
      const fenEl = byId('fen')
      const pgnEl = byId('pgn')

      updateStatus()

      function onDragStart(dragStartEvt) {
        // do not pick up pieces if the game is over
        if (game.game_over()) return false

        // only pick up pieces for the side to move
        if (game.turn() === 'w' && !isWhitePiece(dragStartEvt.piece)) return false
        if (game.turn() === 'b' && !isBlackPiece(dragStartEvt.piece)) return false

        // what moves are available to from this square?
        const legalMoves = game.moves({
          square: dragStartEvt.square,
          verbose: true
        })

        // place Circles on the possible target squares
        legalMoves.forEach((move) => {
          board.addCircle(move.to)
        })
      }

      function isWhitePiece(piece) { return /^w/.test(piece) }
      function isBlackPiece(piece) { return /^b/.test(piece) }

      function onDrop(dropEvt) {
        // see if the move is legal
        const move = game.move({
          from: dropEvt.source,
          to: dropEvt.target,
          promotion: 'q' // NOTE: always promote to a queen for example simplicity
        })

        // remove all Circles from the board
        board.clearCircles()

        // make the move if it is legal
        if (move) {
          // update the board position with the new game position, then update status DOM elements
          board.fen(game.fen(), () => {
            updateStatus()

            // If the move is ok then make engine move after this one
            make_engine_move();
          })
        } else {
          return 'snapback'
        }
      }

      // update the board position after the piece snap
      // for castling, en passant, pawn promotion
      function onSnapEnd() {
        board.position(game.fen())
      }

      // update DOM elements with the current game status
      function updateStatus() {
        let statusHTML = ''
        const whosTurn = game.turn() === 'w' ? 'White' : 'Black'

        if (!game.game_over()) {
          if (game.in_check()) statusHTML = whosTurn + ' is in check! '
          statusHTML = statusHTML + whosTurn + ' to move.'
        } else if (game.in_checkmate() && game.turn() === 'w') {
          statusHTML = 'Game over: white is in checkmate. Black wins!'
        } else if (game.in_checkmate() && game.turn() === 'b') {
          statusHTML = 'Game over: black is in checkmate. White wins!'
        } else if (game.in_stalemate() && game.turn() === 'w') {
          statusHTML = 'Game is drawn. White is stalemated.'
        } else if (game.in_stalemate() && game.turn() === 'b') {
          statusHTML = 'Game is drawn. Black is stalemated.'
        } else if (game.in_threefold_repetition()) {
          statusHTML = 'Game is drawn by threefold repetition rule.'
        } else if (game.insufficient_material()) {
          statusHTML = 'Game is drawn by insufficient material.'
        } else if (game.in_draw()) {
          statusHTML = 'Game is drawn by fifty-move rule.'
        }

        statusEl.innerHTML = statusHTML
        fenEl.innerHTML = game.fen()
        pgnEl.innerHTML = game.pgn()
      }

      function byId(id) {
        return document.getElementById(id)
      }

      function make_engine_move() {
        let depth = byId('depth-select').value;

        $.ajax({
          url: '/make_move',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({
            fen: game.fen(),
            depth: depth,
            time: "0"
          }),
          success: function (response) {
            game.move(response.best_move, { sloppy: true });
            board.position(game.fen());
            updateStatus();
          },
          error: function (xhr, status, error) {
            console.error('Engine move error:', error);
          }
        });
      }

      $('#flip-button').on('click', function () {
        board.flip();
      });

      // $('#depth-select').on('change', function () {
      //   selected_depth = parseInt(this.value);
      // });

      $('#newgame-button').on('click', function () {
        // Reset the game
        game.reset();
        board.position(game.fen());
        updateStatus();
      });

      $('#move-button').on('click', function () {
        make_engine_move();
      });

      $(window).on('resize', function () {
        board.resize();
      });
    });
  </script>
</body>

</html>